PORT=5000
NODE_ENV=production
SECRET_KEY=CHANGE_THIS_TO_A_STRONG_RANDOM_KEY
JWT_SECRET_KEY=CHANGE_THIS_TO_ANOTHER_STRONG_RANDOM_KEY

# Neon PostgreSQL Database
DATABASE_URL=postgresql://neondb_owner:npg_tMPB1r3DLayR@ep-tiny-pond-axoshw1m.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require

DB_HOST=ep-tiny-pond-axoshw1m.c-4.us-east-2.aws.neon.tech
DB_USER=neondb_owner
DB_PASSWORD=npg_tMPB1r3DLayR
DB_NAME=neondb
DB_PORT=5432

FRONTEND_URL=https://your-app-name.vercel.app
